<div class="flex justify-between items-center ">
    <div class="flex flex-col items-start">
        <div class="inline-block">
            
        </div>
        <p class="font-bold text-gray-900 text-base lg:text-lg 2xl:text-2xl mt-2">
            اختبر معلوماتك  في التربية الإسلامية
            واستمتع بالتعلم.</p>
        <a routerLink="/test"
            class="text-white text-center bg-emerald-800/95 hover:bg-emerald-800/75 rounded-lg focus:ring-4 focus:outline-none focus:ring-emerald-800/60 text-base select-none cursor-pointer mt-6 px-8 py-4">ابدأ
            الاختبار!</a>
    </div>

    <div class="w-1/2">
       
          <div class="max-w-sm mx-auto">
            <div class="rounded overflow-hidden shadow-lg">
              <div class="carousel">
                <div *ngFor="let image of images; let i = index" [class.hidden]="currentIndex !== i" class="slide">
                  <img [src]="image" alt="Slide {{ i + 1 }}" class="w-full">
                </div>
              </div>
              <button class="text-white text-center bg-emerald-800/95 hover:bg-emerald-800/75 rounded-lg focus:ring-4 focus:outline-none focus:ring-emerald-800/60 text-base select-none cursor-pointer py-2 px-4 rounded mt-2 mb-4 mx-auto block">
             
                <a routerLink="/test"
>ابدأ
                الاختبار!</a>
              </button>
            </div>
          </div>
          
          
    </div>
</div>